body {
	background: #131212;
	color: #ffffff;
}

.movie-container{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}
.image-container{
  margin: 7px 5px;
}
.image-container img{
  height: 400px;
}


@media only screen and (max-width: 1015px) {
  .movie-container{
    justify-content: center;
  }
  .image-container{
    margin: 7px 5px;
  }
  .image-container img{
    height: 350px;
  }
  
}
@media only screen and (max-width: 708px) {
  
  .image-container img{
    height: 230px;
  }
  
}
@media only screen and (max-width: 450px) {
  
  .image-container img{
    height: 220px;
  }
  
}